#forecast {
  margin: 0em 7em;
  padding: 3em 4em 2em 4em;
  background-color: whitesmoke;
  border-radius: 10px;
  font-size: 14px;
  font-family: 'Hind', sans-serif; }
  #forecast Button {
    background: inherit !important;
    box-shadow: none; }

#forecastWell header {
  margin: 1em 1em 3em 1em; }
  #forecastWell header h1 {
    margin: .1em 0em;
    letter-spacing: 1px; }
  #forecastWell header h2 {
    margin: .2em 0em;
    font-size: 24px;
    letter-spacing: .6px; }

#tableContainer {
  margin: 0; }

table {
  border-collapse: collapse;
  width: 90%;
  margin: 0; }
  table tr, table tr th, table tr #forecast Button, #forecast table tr Button, table tr td {
    vertical-align: middle !important;
    text-align: center;
    font-size: 1.1em; }
    table tr td, table tr #forecast Button td, #forecast table tr Button td {
      padding: .5em auto; }
    table tr img, table tr #forecast Button img, #forecast table tr Button img {
      padding: 0;
      margin: 0; }
