// @import '../../App.scss'; 

#forecast {
    height: 100em; 
    margin: 0em 4em;
    padding: 2em; 
    background-color: whitesmoke;
    border-radius: 10px; 
    font-size: 14px; 
    font-family: 'Roboto', sans-serif;

    Button {
        background: white;
        box-shadow: none; 
        width: 11em;  
    }
}

#ForecastJumbotron {
    padding: 1em 2em 2em 2.5em; 
    margin: 0 0 2em 0; 
}


table {
    border-collapse: collapse;
    width: 90%;
    
    tr{
        vertical-align: bottom !important;
        text-align: center;
        font-size: 1.1em; 

        th {
            @extend tr; 
            
        }
        td {
            @extend tr;
        }
    
        img {
            padding: 0;
            margin: 0; 
        }

    }

}