#forecast {
  margin: 0em 7em;
  padding: 2em 4em;
  background-color: whitesmoke;
  border-radius: 10px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif; }
  #forecast Button {
    background: inherit !important;
    box-shadow: none; }

#ForecastJumbotron {
  padding: 1em 2em 2em 2.5em;
  margin: 0 0 2em 0; }

table {
  border-collapse: collapse;
  width: 90%; }
  table tr, table tr th, table tr #forecast Button, #forecast table tr Button, table tr td {
    vertical-align: middle !important;
    text-align: center;
    font-size: 1.1em; }
    table tr td, table tr #forecast Button td, #forecast table tr Button td {
      padding: .5em auto; }
    table tr img, table tr #forecast Button img, #forecast table tr Button img {
      padding: 0;
      margin: 0; }
