.OpenWeatherTest {
    background: powderblue; 
    min-height: 80em; 
    padding: 3em; 
}

.jsonPrint {
   float: right; 
    margin: 0;
    padding: 0; 
}
/*  */
/*  */
/*  */

#tableContainer {
    width: 60%;
    background-color: whitesmoke; 
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 0; 
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;

}

tr:hover {background-color:#dfdede72;}